Django==5.2
djangorestframework==3.16.0
django-filter==25.1
drf-nested-routers==0.94.1
drf-yasg==1.21.10
mysqlclient==2.2.7
python-dotenv==1.1.0
requests==2.32.3
pytz==2025.2
sqlparse==0.5.3
langchain==0.3.23
langchain-core==0.3.54
langchain-community==0.3.21
langsmith==0.3.32
fastapi==0.115.12
uvicorn==0.34.1
httpx==0.28.1
